* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(45deg, #526D82cc 50%, #DDE6EDcc 50%);
    text-align: center;
    min-height: 100vh;
    padding: 2%;
    font-family: 'Montserrat';
}

h1 {
    font-weight: 700;
    margin-bottom: 2%;
    font-size: clamp(12px, calc(5vw + 6px), 36px);
}

.date-div, .main-items-div {
    background-color: #526D8255;
    width: clamp(40%, calc(5vw + 300px), 70%);
    border-radius: 5px;
    padding: 2% 2%;
}

.date-div {
    margin: auto auto 4% auto;
    font-size: clamp(8px, calc(5vw + 6px), 28px);
    font-weight: 500;
}

.main-items-div {
    margin: auto auto 2% auto;
    color: #fff;
}

.item-date-created {
    text-align: right;
}

.item {
    text-align: left;
}

.items-div {
    max-height: 60vh;
    overflow: scroll;
    margin-bottom: 3%;
}

.item:not(:last-child) {
    padding-bottom: 3%;
}

.item-heading {
    text-align: left;
    padding-bottom: 2%;
}

hr {
    margin-top: 3%;
}

input[type=text] {
    flex: 2;
    outline: none;
    border-style: none none solid none;
    background-color: transparent;
    border-color: #DDE6ED;
    text-align: center;
    padding: 1%;
}

form {
    display: flex;
    gap: 3%;
}


input[type=text]:focus {
    background-color: #DDE6EDcc;
    border-radius: 5px;
}

hr:last-child {
    margin-bottom: 3%;
}

button {
    flex: 1;
    background-color: #526D82;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: clamp(16px, calc(10vw + 8px), 32px);
}

button:hover {
    background-color: #a683e3;
}

a {
    text-decoration: none;
}

.body-align {
    text-align: justify;
    text-justify: inter-word;
}

span a {
    background-color: #DDE6ED;
    padding: 1% 5%;
    border-radius: 5px;
    font-weight: 400;
}

span a:hover {
    background-color: #a683e3;
    color: #fff;
}